.cart-container {
  display: block;
  margin: 50px;
}

table {
  margin: 30px;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

img {
  width: 50px;
}

button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
}
