.navbar {
  border-radius: 8rem;
  /* position: fixed; */
  top: 0;
  left: 0;
  min-width: 95%;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5rem);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-brand {
  display: flex;
  align-items: center;
  /* color:  linear-gradient(45deg, #b01b2a, #c44326, #d86c22, #ed951f); */

}

.nav-brand img {
  height: 50px;
  width: auto;
}

.nav-links {
    list-style: none;
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a {

  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-auths{
  display: flex;
  text-decoration: none;
  align-items: space-between;
  gap: 2rem;
}


/* .nav-links a:hover {
  color: #000000;
} */

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  
  .nav-links {
    gap: 1rem;
  }
}